<div class="section features-3 my-5 fullWidth" style="background-image: url(' {{ '/assets/img/ill/p31.svg' | relative_url }}')">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-8">
        <h3 class="display-3 text-white">Build something great<span class="text-success"> with Borealis Isolated Postgres</span></h3>
        <p class="lead text-white">Building an app on Heroku? Follow security best practices by choosing a PostgreSQL database add-on that is fully isolated from the open internet and offers top tier performance.</p>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-warning rounded-circle text-white">
            <i class="ni ni-istanbul text-warning"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-warning">Maximum Isolation</h5>
            <p>The internet is full of threats, which is why your data should be locked securely behind a firewall.</p>
            <a href="https://elements.heroku.com/addons/borealis-pg" class="text-warning">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-spaceship text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-info">Top Speed</h5>
            <p>Data security doesn't have to come at the cost of blazing fast database throughput and latency.</p>
            <a href="https://elements.heroku.com/addons/borealis-pg" class="text-info">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-success rounded-circle text-white">
            <i class="ni ni-world text-success"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-success">High Scalability</h5>
            <p>Database clusters that can scale both vertically and horizontally with little or no app downtime.</p>
            <a href="https://elements.heroku.com/addons/borealis-pg" class="text-success">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-danger rounded-circle text-white">
            <i class="ni ni-diamond text-danger"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-danger">Rock Solid</h5>
            <p>Six-way physical replication of data, automatic failover and a 99.99% uptime target.</p>
            <a href="https://elements.heroku.com/addons/borealis-pg" class="text-danger">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
